<h1>About Me</h1>

<span>Detail and leadership oriented Web Developer with a background in user experience, sales, teaching, and cognitive science. Passionate about the fundamentals of human-computer interaction, object oriented programming, pair programming, and positive team dynamics. In my free time, I’m an avid chess player, video game buff, and fitness enthusiast.</span>